<div>
  <label>First Name</label><br />
  <input type="text" (keyup)="setFirstName(($any($event.target)).value)" />
</div>

<div>
  <label>Last Name</label><br />
  <input type="text" (keyup)="setLastName(($any($event.target)).value)" />
</div>

<hr />

<button type="button" (click)="setFirstName('Ryan'); setLastName('Maffit')">Set to Ryan Maffit</button>
<button type="button" (click)="setFirstName('Michael'); setLastName('Terry')">Set to Michael Terry</button>
<button type="button" (click)="setFirstName('Larry'); setLastName('Fritz')">Set to Larry Fritz</button>
<button type="button" (click)="ngOnDestroy()">Destroy</button>

<hr />

<dl>
  <dt>Full Name</dt>
  <dd>{{ (fullName$ | async) ?? 'N/A' }}</dd>

  <dt>Initials</dt>
  <dd>{{ (initials$ | async) ?? 'N/A' }}</dd>

  <dt><a href="https://agify.io/">agify.io</a> Age</dt>
  <dd>{{ (age$ | async) ?? 'N/A' }}</dd>
</dl>

<pre>{{ agify$ | async | json }}</pre>